@CHARSET "UTF-8";

ul, li {
	list-style:none;
	margin:0;
	padding:0;
}

.innovations {
	
}

.innovation {
	border-bottom: 1px dashed lightgrey;
}

.modal {
	display:none;
	position:fixed;
	height:200px;
	width:400px;
	top:30%;
	left:50%;
	z-index:2000;
	transform: translateX(-50%) translateY(-50%);
	background:#FFFFFF;
	borderRadius:2px;
	box-shadow:1px 1px 7px #888888;
	transition: all 0.2s ease-in-out;
	animation: fade-in 0.2s ease-in-out;
}

.modal section {
	height:100%;
	width:100%;
	font-size:140%;
}

.modal-overlay {
	display:none;
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:1000;
	opacity: 0.2;
	background: #333;
	transition: all 0.3s;
}

.error {
    color:crimson;
}

@keyframes fade-in {
	0%   { opacity:0; top:25%; }
	100% { opacity:1; top:30%; }
}

.res-btn {
/*     font-size: 2vw; */
}
.form-center {
    display: block;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
}
input.form-center  {
	display: block;
}

