<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="head :: tags" />
<body>

    <div id='modal-vote' class='modal fade' role='dialog'>
        <div class='modal-header'></div>
        <div class='modal-body'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-md-12 font-weight-bold text-md-center'> Thank You </div>
                </div>
                <div class='row'>
                    <div class='col-md-12 text-md-center' style='color:crimson;'> <i class='fa fa-heart'></i> </div>
                </div>
            </div>
        </div>
    </div>
	
    <header></header>
    
    <main>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-md-12'>
                    <h1 class='display-1'> Innovations </h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <p> Hello <span th:text='${session.voterName}'> user </span>, please give your vote </p>
                </div>
            </div>
            <div class='row innovations'>
                <div class='col-md-6 col-xs-12 offset-md-3'>
                    <form class='row innovation' th:each='innovation, status : ${innovations}'  th:action="@{/vote}" method="post">
                        <div class='col-md-10'>
                            <div class='row'>
                                <div class='col-md-12'>${innovation.name}</div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12'>${innovation.description}</div>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <button type='submit' class='btn btn-primary'> vote </button>
                        </div>
                    </form>
               </div>
            </div>
    </main>
    
    <footer></footer>

</body>
</html>
