<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>voting engine</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
<link href="/main.css" rel="stylesheet" />
</head>
<body>

	<div class='container'>

		<h1 class='row text-md-center text-xs-center p-a-1 m-t-3 m-b-3'>Vote Innovations</h1>

		<div class='row'>
                    <form class="col-xs-12 col-lg-6 col-md-6 offset-md-3 offset-lg-3" action="#" th:action="@{/login}" method="post">
                        <div class="row"> 
                            <div class="col-xs-12 col-md-6 offset-md-3 offset-lg-3 text-md-center text-xs-center p-a-1 m-b-1">
                                <div class="row"> Enter Name: </div>
                                <div class="row"> <input size="20" name="voterName" type="text"/> </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-xs-12 col-md-6 offset-md-3 offset-lg-3 text-md-center text-xs-center p-a-1"> 
                                <button class="btn btn-primary btn-md form-center">Login</button>
                            </div>
                        </div>
                    </form>
		</div>
	</div>

</body>
</html>
