<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head :: tags" />
<body>
    
    <header></header>
    
    <div class='container-fluid'>
        
        <div class='row'>
            <div class='col-md-12'>
                <div class='jumbotron'> <h1 class='display-1'> Voting Engine </h1> </div>
            </div>
        </div>
        
        <div class='row'>
            <div class='col-md-12'>
                <form  action="#" th:action="@{/login}" method="post" th:object="${loginForm}">
                    <div class='form-group'> 
                        <span th:if="${#fields.hasErrors('voterName')}" th:errors="*{voterName}"> error </span> 
                    </div>
                    <div class='form-group'>
                        <div class='input-group'>
                            <span class='input-group-addon'> <i class='fa fa-user'></i> </span>
                            <input size="20" th:field="*{voterName}" type="text" placeholder="voter name" class='form-control' />
                        </div>
                    </div>
                    <div class='form-group'>
                        <select>
                            <option value='student'> student </option>
                            <option value='teacher'> teacher </option>
                            <option value='quest'> quest </option>
                            <option value='team'> team </option>
                        </select>
                    </div>
                    <div class='form-group'>
                        <button type='submit' class='form-control'> login </button>
                    </div>
                </form>
            </div>
        </div>

        <footer></footer>
        
</body>
</html>
